* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Inicio del menu*/
header h1 {
    margin: 0px;
    padding: 0px;
    color: #d52b2b;
 
}
header img {
    margin: 5px;
    padding: 5px;
}


/*la sombra de la barra*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 5px #7d7c7c;

}
/*  navegador*/
header nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;

}
/* hipervinculo del navegador*/
header nav ul li a {
    display:inline-block;
    color:#333;
    text-decoration: none;
    padding: 0.60rem 0.8rem;
    transition: background-color 1s ease, color 1s ease;

}
header nav ul li a:hover{
    color:#d52b2b;
    font-weight:bolder;
}/*Fin del menu*/

.container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background-color: #f9f9f9;
}

/* Tarjetas */
.programas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    gap: 1rem;
    border-radius: 5px;
    width: 90%;
    height: 75%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.programas:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.tarjeta {
    position: relative;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

.tarjeta img {
    width: 85vw;
    height: 75%;
    object-fit: cover;
    object-position: center center;
}

.tarjeta h2 {
    margin: 0;
    padding: 0.8rem;
    font-size: 2.3rem;
    background-color: #d52b2b;
    color: #fff;
    text-align: center;
}

.tarjeta p {
    padding: 10px;
    font-size: 1.8rem;
    color: #555;
    text-align: center;
}

.tarjeta a {
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px 20px;
    text-align: center;
    background-color: #d52b2b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.tarjeta a:hover {
    background-color: #a92323;
}

@media (min-width:1024px){
    
}