.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite;
    animation-direction: alternate;
}

.slider li {
    list-style: none;
    width: 100%;
}

.slider img {
    width: 100%;
    margin: auto;
}

@keyframes cambio {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}


.texto {
    position: absolute;
    text-align: center;
    top: 250px;
    color: #fff;
    background-color: #d52b2bad;

}

.texto h2 {
    font-size: larger;
}


.texto {
    padding: 0 332px;
}


.mision p {
    font-size: x-large;
    text-align: left;
    font-weight: bold;
}

.mision h2 {
    font-size: xx-large;
    text-align: left;
    font-weight: bolder;
    color: #d52b2b;
}

.mision {
    position: relative;
    max-width: 3000px;
    overflow: hidden;
    margin: 0.5rem 0.10rem 0.75rem 0.5rem;
    padding: 0.7rem 0.5rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem;
    gap: 1rem;
}

.noticias {
    position: relative;

    max-width: 300px;

    overflow: hidden;
}

.noticias img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center center;
    border-radius: 27px;
}

.noticias p {
    font-size: 0.9rem;
    text-align: justify;
    padding: 0.5rem;
}


/*slider*/
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite;
    animation-direction: alternate;
}

.slider li {
    list-style: none;
    width: 100%;
}

.slider img {
    width: 100%;
    margin: auto;
}

@keyframes cambio {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}


/*FIN slider*/
.texto {
    position: absolute;
    text-align: center;
    top: 250px;
    color: #fff;
    background-color: #d52b2bad;

}

.texto h2 {
    font-size: larger;
}


.texto {
    padding: 0 332px;
}

/* Mision*/
.mision p {
    font-size: x-large;
    text-align: left;
    font-weight: bold;
}

.mision h2 {
    font-size: xx-large;
    text-align: left;
    font-weight: bolder;
    color: #d52b2b;
}

.mision {
    position: relative;
    max-width: 3000px;
    overflow: hidden;
    margin: 0.5rem 0.10rem 0.75rem 0.5rem;
    padding: 0.7rem 0.5rem;
}

/* noticias*/

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem;
    gap: 1rem;
}

.noticias {
    position: relative;

    max-width: 300px;

    overflow: hidden;
}

.noticias img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center center;
    border-radius: 27px;
}

.noticias p {
    font-size: 0.8rem;
    text-align: justify;
    padding: 0.5rem;
}

.noticias .info {
    position: absolute;
    right: 1rem;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #c65555;
    color: #000;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 1px 1px 1rem #000;
    transform: translateY(-50%);
}

/* FIN noticias*/



.info1 {
    position: relative;
    max-width: 3000px;
    overflow: hidden;
    margin: 0.5rem 0.1rem 0.75rem 0.5rem;
    padding: 0.7rem 0.5rem;
}

.info1 p {
    font-size: 0.9rem;
    text-align: justify;
}

.info1 h2 {
    font-size: larger;
    text-align: center;
    font-weight: bolder;
    color: #d52b2b;
}


.info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem;
    gap: 1rem;
    margin-top: 20px;
    margin-top: 45px;
}

.mvv {
    position: relative;
    max-width: 350px;
    overflow: hidden;
}


.mvv p {
    font-size: 0.9rem;
    text-align: justify;
    padding: 0.5rem;
}

.info2 h2 {
    font-size: larger;
    text-align: center;
    font-weight: bolder;
    color: #d52b2b;
}

.descripcion p {
    font-size: x-large;
    text-align: left;

}

.descripcion h2 {
    font-size: xx-large;
    text-align: left;
    font-weight: bolder;
    color: #e6e209;
}

.descripcion {
    position: relative;
    max-width: 3000px;
    overflow: hidden;
    margin: 0.5rem 0.10rem 0.75rem 0.5rem;
    padding: 0.7rem 0.5rem;
}
.baner img {
    margin-top: 50px;
    height: 400px;
    width: 100%;
    object-fit: contain;
}

.donacion {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    border: 2px solid #cd0f0f;
}

.donacion h2 {
    text-align: center;
    font-size: 30px;
    color: #cd0f0f;
}



.dato {
    margin-bottom: 15px;
    font-size: 25px;
}

.dato h2 {
    text-align: center;
    color: #333333;
    font-size: 35px;
}

.dato label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
    font-size: 25px;
}

.dato input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
}

.botondonar{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #b12520;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botondonar:hover {
    background-color: #f1f5fa;
    color: #b12520;
    
}


.donacion-contenedor {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

.donacion {
    flex: 1;
    background-color: #f9f9f9;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.con {
    flex: 1;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.con .contenido p {
    font-size: 1.6rem;
    text-align: justify;
    line-height: 1.8;
}

@media screen and (min-width: 1024px) {
    header {

        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        width: auto;
    }

    header nav ul {
        flex-direction: row;
    }

    header nav ul li a {
        display: block;

    }

    .info2 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .info1 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .donacion-contenedor {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .con {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


@media (min-width: 720px) {
    header {
        flex-direction: row;
        justify-content: space-between;


    }

    header nav ul {
        flex-direction: row;
    }

    .info2 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }



}



@media (min-width:720px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        width: auto;
    }

    header nav ul {
        flex-direction: row;
    }

    header nav ul li a {
        display: inline-block;
        border: none;
    }

    .info {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .mision {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}}