* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #fff;
   
}

/*Inicio del menu*/
header img {
    margin: 5px;
    padding: 5px;
}

/*la sombra de la barra*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 5px #7d7c7c;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1000;
}

/* navegador*/
header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    transition: background-color 1s ease, color 1s ease;
}

header nav ul li a:hover {
    color: #d52b2b;
    font-weight: bolder;
}

/*Fin del menu*/
.baner img {
    margin-top: 50px;
}

/*Informacion*/
.info1 {
    position: relative;
    max-width: 3000px;
    overflow: hidden;
    margin: 0.5rem 0.1rem 0.75rem 0.5rem;
    padding: 0.7rem 0.5rem;
}

.info1 p {
    font-size: 0.9rem;
    text-align: justify;
}

.info1 h2 {
    font-size: larger;
    text-align: center;
    font-weight: bolder;
    color: #d52b2b;
}

/*FIN Informacion*/

/*mision vision y valores*/
.info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem;
    gap: 1rem;
    margin-top: 20px;
}

.mvv {
    position: relative;
    max-width: 350px;
    overflow: hidden;
}

.mvv img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 27px;
}

.mvv p {
    font-size: 0.9rem;
    text-align: justify;
    padding: 0.5rem;
}



@media (min-width: 720px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav ul {
        flex-direction: row;
    }

    .info2 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.info2 h2 {
    font-size: larger;
    text-align: center;
    font-weight: bolder;
    color: #d52b2b;
}

/*FIN mision vision y valores*/


/* Pie de pagina*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 5px #7d7c7c;
    background-color: #ba2b2b;
}


footer nav ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
    display: flex;
}

footer nav ul li a {
    display: inline-block;
    color: #100f0f;
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    transition: background-color 1s ease, color 1s ease;
}

footer p {
    color: #fff;
}

/* FIN Pie de pagina*/



